extends ../layout

block subhead
  link(rel='canonical' href='https://str.himion.com/sign/in')
  title Say to Remember #{__('signIn')} (#{__('email')})
  meta(name='description' content='You are signing to SayToRemember')
  meta(property='og:locale'       content='ko_KR')
  meta(property='og:type'         content='website')
  meta(property='og:title'        content="Say to Remember #{__('signIn')} (#{__('email')})")
  meta(property='og:description'  content='You are signing to SayToRemember')
  meta(property='og:url'          content='https://str.himion.com/sign/in')
  meta(property='og:site_name'    content='세이 투 리멤버')
  meta(property='og:image'        content='https://str.himion.com/img/icon/192x192.jpg')
  meta(property='og:image:width'  content='192')
  meta(property='og:image:height' content='192')

  meta(property='twitter:locale'  content='ko_KR')
  meta(property='twitter:type'    content='website')
  meta(property='twitter:card'    content='summary')
  meta(property='twitter:url'     content='https://str.himion.com/sign/in')
  meta(property='twitter:site_name' content='세이 투 리멤버')
  meta(property='twitter:title'   content="Say to Remember #{__('signIn')} (#{__('email')})")
  meta(property='twitter:creator' content='SayToRemember')
  meta(property='twitter:image'   content='https://str.himion.com/img/icon/192x192.jpg')
  meta(property='twitter:image:width'  content='192')
  meta(property='twitter:image:height' content='192')
  meta(property='twitter:description'  content='You are signing to SayToRemember')

block subScript
  link(rel='stylesheet' type='text/css' href='/css/sign.css')
  script(src='/js/sign_client.js')
  script(src='/js/say/say_client_design.js')


block content
  - // 일치하는 ID가 없을 때 뜨는 팝업창
  .mfp-hide.msgFindID#msgFindID
    .msgScript #{__('jsNotFoundAccount')}

  .contents
    .signinWrap
      .motoWrap
        img(src='/img/ci.svg' title="#{__('tooltipCI')}" alt='CI' onclick="ciClick(this)" ).ciIcon
        h3 #{__('signinWelcomeScrpt1')}
        h3 #{__('signinWelcomeScrpt2')}
      .signinFormWrap
        .form-group.signinForm
          .isAlwaysSignInWrap
            input(type='checkbox' name='isAlwaysSignIn' data-toggle='toggle' value='false').isAlwaysSignIn#isAlwaysSignIn
            label(for='isAlwaysSignIn') #{__('rememberMe')}
          input(type='email' name='inputEmail' placeholder="#{__('email')}").form-control.inputEmail#inputEmail
          span.msgScript
          button#signinNext.signinSubmit #{__('signinBtnNext')}
      .signinOptWrap
        a(href='/sign/up' data-placement="bottom" title="#{__('beAMember')}").createAccountLink.tooltipUp #{__('createAccount')}