extends ../layout
- // day의 github에서는 target='_blank'를 없앴다. day를 클릭시 새로운 페이지를 열 필요가 없기 때문이다 18.08.22
block github
  .mainWrap
    - var thisYear    = new Date().getFullYear();
    - var totalCount  = 0;
    - // 문장을 하나하나 돌면서 해당 날짜에 해당하는 셀을 배당해준다. 인덱스가 셀 위치고 값이 문장수다.
    .proWrap
      //- h4.proTitle 근성
      .proGraphic
        .proDayTextWrap
          h6.proDayText &nbsp;
          h6.proDayText.sun #{__('githubSun')}
          h6.proDayText &nbsp;
          h6.proDayText &nbsp;
          h6.proDayText #{__('githubWeb')}
          h6.proDayText &nbsp;
          h6.proDayText &nbsp;
          h6.proDayText.sat #{__('githubSat')}
        .proYearWrap
          each _, k in Array(12)
            - if ( k == 0 ) {var monthTxt = __('githubJan'); }
            - if ( k == 1 ) {var monthTxt = __('githubFeb'); }
            - if ( k == 2 ) {var monthTxt = __('githubMar'); }
            - if ( k == 3 ) {var monthTxt = __('githubApr'); }
            - if ( k == 4 ) {var monthTxt = __('githubMay'); }
            - if ( k == 5 ) {var monthTxt = __('githubJun'); }
            - if ( k == 6 ) {var monthTxt = __('githubJul'); }
            - if ( k == 7 ) {var monthTxt = __('githubAug'); }
            - if ( k == 8 ) {var monthTxt = __('githubSep'); }
            - if ( k == 9 ) {var monthTxt = __('githubOct'); }
            - if ( k == 10) {var monthTxt = __('githubNov'); }
            - if ( k == 11) {var monthTxt = __('githubDec'); }
            .proMonth
              h6.proMonthText #{monthTxt}
              .proWeekWrap

                - var day1 = new Date ( thisYear, k, 1 ); // 해당 달에 1일. 왜 여기는 k+1이 안된까.
                - var day = day1.getDay(); // 요일을 구한다.
                - var dayCount = new Date ( thisYear, k+1, 0 ).getDate(); // 해당 달의 일 수 구하기
                - var weeks;
                - // 그해 주가 몇개인지 결정
                - if ( day <= 4 ) weeks = 4; // 만약 일, 월, 화, 수요일이라면
                - else if ( day == 4 ) { // 만약 목요일 이라면
                -   if ( dayCount % 7 <=2 ) weeks = 4;
                -   else weeks = 5;
                - } else if ( day == 5 ) { // 만약 금요일이라면
                -   if ( dayCount % 7 <= 1 ) weeks = 4;
                -   else weeks = 5;
                - } else if (day == 6 ) { // 만약 토요일이라면
                -   if ( dayCount % 7 <= 0 ) weeks = 4;
                -   else weeks = 5;
                - }
                - if ( k == 11 ) weeks = 6 // 그런데 만약 12월이면 31일까지니 6주


                - // 첫달의 첫주. 빈 공간 그리기
                - if ( totalCount == 0){
                  .proWeekFirstMonth
                    - if ( day == 0 ){ // 1월 달의 시작이 일요일이라면
                    - } else if ( day == 1 ){ // 월
                      .thereIsNoDay_Mon
                    - } else if ( day == 2 ){ // 화
                      .thereIsNoDay_Tue
                    - } else if ( day == 3 ){ // 수
                      .thereIsNoDay_Wed
                    - } else if ( day == 4 ){ // 목
                      .thereIsNoDay_Thu
                    - } else if ( day == 5 ){ // 금
                      .thereIsNoDay_Fri
                    - } else if ( day == 6 ){ // 토
                      .thereIsNoDay_Sat
                    - }

                    - // 첫달 첫주 1일부터 토요일까지 셀 그리고 카운트에 맞게 색칠하기
                    - for ( var very_i= 0; very_i < 7 - day ; very_i++){
                      - totalCount++;
                      - if (cell[totalCount].count == 1){
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay1 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 2) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay2 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 3) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay3 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 4) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay4 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 5) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay5 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 6) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay6 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 7) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay7 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 8) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay8 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 9) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay9 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count >= 10) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay10 #{cell[totalCount].count}
                      - } else {
                      .proDayNone #{cell[totalCount].count}
                      - }
                    - }
                  - }

                - // 나머지 빈 셀을 주단위로 그린다.
                each _, j in Array(weeks)
                  .proWeek
                    each _, i in Array(7)
                      - totalCount++;
                      - // 오늘 주색을 회색으로 바꾼다
                      - if (todayIdx < totalCount) { // 오늘 이후부터(내일부터)
                        - if ( todayIdx + 1 == totalCount ) { // 다만 내일일 경우만
                          - var todayDay = new Date().getDay();
                            - if ( todayDay == 0 ) { // 일요일일 경우
                              .proWeek0
                            - } else if ( todayDay == 1) { // 월
                              .proWeek1
                            - } else if ( todayDay == 2) { // 화
                              .proWeek2
                            - } else if ( todayDay == 3) { // 수
                              .proWeek3
                            - } else if ( todayDay == 4) { // 목
                              .proWeek4
                            - } else if ( todayDay == 5) { // 금
                              .proWeek5
                            - } else if ( todayDay == 6) { // 토
                              .proWeek6
                            - }
                        - } else { // 아직 오지 않은 proWeek6으로 바꾼다
                          .proWeek6
                        - }
                      -   break;
                      - }

                      - // 전체 셀을 돌며 카운트에 맞게 색을 칠한다
                      - if(cell[totalCount]) {                      
                      - if (cell[totalCount].count == 1){
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay1 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 2) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay2 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 3) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay3 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 4) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay4 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 5) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay5 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 6) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay6 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 7) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay7 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 8) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay8 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 9) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay9 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count >= 10) {
                      a(href = '/#{userNickname}/day/#{cell[totalCount].date}' data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay10 #{cell[totalCount].count}
                      - } else {
                      .proDayNone #{cell[totalCount].count}
                      - }
                      - }
                      - if( todayIdx == totalCount )
                          .todayCell
block popup
  .popup
    - // 옵션 박스 안에서 Modify를 클릭했을 때 뜨는 팝업 창
    .mfp-hide.modifyDialog#modifyDialog
      .modifyTitle #{__('sayEdit')}
      textarea(placeholder="#{__('sayTextboxPlaceholder')}" onkeyup='checkTextArea(this)').form-control.engTxtarea#engTxtareaModify
      .modifyBtnWrap
        a(href='javascript:;' onclick='optSelectTag()')#optSelectTag
          i(data-tag-idx='').tagInfo
        a(href='javascript:;').btnOK#modifyOK #{__('sayBtnSayv')}
        .totalLength / 300
        .checkLenInfo 0


    - // 글 안의 옵션 클릭했을 때 뜨는 팝업 창
    ul.optBox
      .optXIcon x
      li.optList
        a(href='javascript:;' onclick='optModify()' )#optModify #{__('sayBtnModify')}
      li.optList
        a(href='javascript:;' )#optDelete #{__('sayBtnDelete')}

      - // senNum 추가
      input(hidden data-sen-id data-nickname='#{userNickname}' data-my-nickname='#{nickname}' data-user='#{user}' data-selected-sen-num='#{senNum}' data-sen-by-date-id data-sen-id-mp3 data-sen-tag-idx data-sentence data-sen-tag-name data-tag-where)#senInfo


    - // 카테고리를 클릭했을 때 뜨는 팝업 창
    nav.mfp-hide.tagList#tagList
      .tagTitle #{__('msgSelectCategory')}
      ul.tagWrapper
        li.tagLi
          a(href='javascript:;' onclick='chooseTag(this)' data-tag-idx='#{0}').tagItem #{userTags[0]}
        - // 카테고리가 3개일때는 아래와 같이 만든다. 확장성을 염두함. 180419
        each _, idx in Array(3)
          li.tagLi
            if userTags[idx+1]
              a(href='javascript:;' onclick='chooseTag(this)' data-tag-idx='#{idx+1}').tagItem #{userTags[idx+1]}
              a(href='javascript:;' onclick='tagRemove(this)' data-tag-idx='#{idx+1}')
                i.glyphicon.glyphicon-remove.tagRemove
              a(href='javascript:;' onclick='tagModify(this)' data-tag-idx='#{idx+1}')
                i.glyphicon.glyphicon-pencil.tagModify
            else
              input(type='text' placeholder="#{__('sayCategroyPlaceholder')}" onkeypress='tagSaveEnter(event, this)').makeTag
              a(href='javascript:;' onclick='tagSave(this)' data-tag-idx='#{idx+1}')
                i.glyphicon.glyphicon-ok.tagSave


    - // 글삭제 버튼을 눌렀을 때 뜨는 팝업 창
    nav.mfp-hide.deletePopup#deletePopup
      .deletePopupTitle #{__('sayPopupDelete')}
      a(href='javascript:;' onclick='yesMsgPopup()').yesBtn #{__('sayBtnDelete')}
      a(href='javascript:;' onclick='noMsgPopup()').noBtn #{__('sayBtnCancel')}

    - // 맨위로 이동
    a(href='javascript:window.scrollTo(0, 0);').fa.fa-angle-up.navMoveTop


block categorySearch
  .categorySearch
    nav.categorySearchWindow(data-searching-tag-idx='#{searchingTagIdx}')
      ul
        .categorySearchTitle #{__('category')}
        li
          a(href='/'+userNickname data-tag-idx='#{0}').categorySearchItem #{__('sayCategoryPopupAll')}
        each _, idx in Array(3)
          if userTags[idx+1]
            li
              a(href='/'+userNickname+'/tag/#{idx+1}?title=#{userTags[idx+1]}' data-tag-idx='#{idx+1}').categorySearchItem #{userTags[idx+1]}
          else
            li
              a(href='/'+userNickname+'/tag/#{idx+1}?title=#{userTags[idx+1]}' data-tag-idx='#{idx+1}') #{userTags[idx+1]}
    ul.categorySearchWindow
      li
        a(href='/'+userNickname+'/love').categorySearchLove
          span.glyphicon.glyphicon-heart-empty
          span &nbsp; Love
      li
        a(href='/'+userNickname+'/profile').categorySearchProfile
          span.glyphicon.glyphicon-user
          span &nbsp; #{__('sayCategoryPopupProfile')}


- // SEO를 위한 title, description, keywords 디자인. 나이스! 18.08.21
block subhead
  link(rel='canonical' href='https://str.himion.com/#{userNickname}/day/#{strDate}')
  if (aSentence[0] != null)   
    title #{aSentence[0].engTxt}
    meta(name='description' content='#{aSentence[0].korTxt}')

    meta(property='og:locale'       content='ko_KR')
    meta(property='og:type'         content='article')
    meta(property='article:published_time'  content='#{aSentence[0].createdAt}')
    meta(property='article:author'  content='#{userNickname}')
    meta(property='og:title'        content='#{aSentence[0].engTxt}')
    meta(property='og:description'  content='#{aSentence[0].korTxt}')
    meta(property='og:url'          content='https://str.himion.com/#{userNickname}/day/#{strDate}')
    meta(property='og:site_name'    content='세이 투 리멤버')
    meta(property='og:image'        content='https://str.himion.com/img/icon/192x192.jpg')
    meta(property='og:image:width'  content='192')
    meta(property='og:image:height' content='192')

    meta(property='twitter:locale'  content='ko_KR')
    meta(property='twitter:type'    content='article')
    meta(property='twitter:card'    content='summary')
    meta(property='twitter:url'     content='https://str.himion.com/#{userNickname}/day/#{strDate}')
    meta(property='twitter:site_name' content='세이 투 리멤버')
    meta(property='twitter:title'   content='#{aSentence[0].engTxt}')
    meta(property='twitter:description'  content='#{aSentence[0].korTxt}')
    meta(property='twitter:creator' content='#{userNickname}')
    meta(property='twitter:image'   content='https://str.himion.com/img/icon/192x192.jpg')
    meta(property='twitter:image:width'  content='192')
    meta(property='twitter:image:height' content='192')

block subScript
  script(src='/js/say/say_client.js')
  script(src='/js/say/say_client_play.js')
  script(src='/js/say/say_client_design.js')
  script(src='/js/say/say_client_day.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js')
  
  link(rel='stylesheet' type='text/css' href='/css/say.css')
  link(rel='stylesheet' type='text/css' href='/css/say_dashboard.css')


block content

  append popup
  append github
  append categorySearch

  - // content 상단
  .frame
    .contents
      .upperWrap
        .ciWrap
          img(src='/img/ci.svg' title="Hello! Himion" alt='CI' onclick="ciClick(this)" data-placement="right").ciIcon.tooltipUp

        audio(src='' ).speech#speech

      .optFrame
        .optWrap
          label(for='optEng' title="#{__('tooltipHideEng')}" data-placement="top").tooltipUp
            span.glyphicon.glyphicon-check#optEng
            span.optEng &nbsp;Eng
          label(for='optKor' title="#{__('tooltipHideKor')}" data-placement="top").tooltipUp
            span.glyphicon.glyphicon-check#optKor
            span.optKor &nbsp;Kor
        a(href='javascript:;' onclick='searchTag()').searchTag#searchTag
          label(for='searchTagItem')
            span.searchTagItem All
            span.glyphicon.glyphicon-collapse-down#searchTagItem

      - // content 하단
      .contentWrap
        .day
          .upperDay
            button(data-clipboard-text='https://str.himion.com/#{userNickname}/day/#{itemByDate.strDate}' data-total_clicked='#{itemByDate.total_clicked}' data-total_otherClicked='#{itemByDate.total_other_clicked}' data-toggle="popover" data-placement="bottom" data-content="Copied!").createdAt.linkAddress.tooltipUp #{itemByDate.strDateTxt}            
            span.countSentence.badge #{itemByDate.count}

            a(href='javascript:;' onclick="speak(this,'playTotal')" data-item-by-date='#{itemByDate._id}' data-mp3s='#{itemByDate.mp3s}' data-sort='#{itemByDate.senSort}').speakIconBig.glyphicon.glyphicon-volume-down.forMp3s
            a(href='javascript:;' onclick="speak(this,'repeatTotal')" data-item-by-date='#{itemByDate._id}' data-mp3s='#{itemByDate.mp3s}' data-sort='#{itemByDate.senSort}').repeatIconBig.glyphicon.glyphicon-refresh.forMp3s



          .inferiorDay
            if aSentence == ''
              .aSen
                .senWrap
                  p #{__('msgNoSentence')}

            if (!itemByDate.senSort)
              - aSentence.reverse()

            each aSen in itemByDate.aSen_ids.reverse()
              each item, idx in aSentence
                if aSen.toString() == item._id.toString()
                  .aSen
                    .frontIcons
                      if user == 'owner' || userNickname == 'everyone'
                        a(href='javascript:;' onclick='openOpt(this)' data-placement="right" data-item-id='#{item._id}' data-item-by-date='#{item.byDate_id}' data-file='#{item.mp3}' title="#{__('tooltipSenModifyDelete')}").glyphicon.glyphicon-option-vertical.optionIcon.tooltipUp

                        if item.heart[0]
                          if !item.heart[1]
                            - // 글의 주인만 heart on했을 때 who = 0
                            a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length}' data-who=0 data-placement="right" title="#{item.heart.length+__('tooltipMsgLove')}" ).heartIcon.glyphicon.glyphicon-heart.tooltipUp
                          else
                            - // 글의 주인과 다른 사람도 1명 이상 heart on했을 때 who = 1
                            a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length}' data-who=1 data-placement="right" title="#{item.heart.length+__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart.tooltipUp
                        else
                          - // 글의 주인은 heart off하고 다른 사람만 1명 이상 heart on했을 때, who=2
                          if item.heart[1]
                            a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length -1}' data-who=2 data-placement="right" title="#{item.heart.length-1 +__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart-empty.tooltipUp
                            - // 아무도 heart on 하지 않았을 때, who = 3
                          else
                            - // 인덱스 0에 null이 있을 경우 실제 데이터가 없어도 length가 1로 잡히기 때문에
                            - if (item.heart[0] == null) item.heart.length = 0;
                            a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length}' data-who=3 data-placement="right" title="#{item.heart.length+__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart-empty.tooltipUp


                        - // 다른 사람의 페이지에 방문했을 때
                      else if user == 'other'
                        - var checking = 0;

                        each heart, idx in otherHearts
                          - // 다른 사람의 페이지에 내가 heart on한 문장이 있고
                          if heart.sen_id.toString() == item._id.toString()
                            if item.heart[0]
                              - // 해당 문장을 소유자도 heart했다면
                              a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length}' data-who=4 data-placement="right" title="#{item.heart.length+__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart.tooltipUp
                            else
                              if item.heart[2]
                                - // 해당 문장을 소유자는 heart 안하고 방문자는 heart하고 다른 누군가도 heart했을 때(최소 heart 2개 이상)
                                a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length-1}' data-who=5 data-placement="right" title="#{item.heart.length-1 +__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart.tooltipUp
                              else
                                - // 해당 문장을 소유자는 heart 안하고 방문자만 heart하고 아무도 heart X을 경우
                                a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length-1}' data-who=6 data-placement="right" title="#{item.heart.length-1 +__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart.tooltipUp
                            - checking = 1;
                            - break;


                        if !checking
                          - // 페이지를 방문한 사람이 heart하지 X
                          if item.heart[0]
                            - // 해당 문장을 소유자가 heart했다면
                            a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length}' data-who=7 data-placement="right" title="#{item.heart.length+__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart-empty.tooltipUp
                          else
                            if item.heart[1]
                              - // 해당 문장을 소유자, 방문자 모두 heart X, 하지만 다른 누군가가 heart했을
                              a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length-1}' data-who=8 data-placement="right" title="#{item.heart.length-1 +__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart-empty.tooltipUp
                            else
                              - // 아무도 heart X
                              - if (item.heart[0] == null) item.heart.length = 0;
                              a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length}' data-who=9 data-placement="right" title="#{item.heart.length+__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart-empty.tooltipUp


                    .senWrap
                      div(onclick='senTxtVisible(this)' data-clicked='#{item.clicked}' data-other-clicked='#{item.other_clicked}' data-sen-num='#{item.sen_num}').senTxt.senTxtVisible #{item.engTxt}
                      div(onclick='senKorTxtVisible(this)').senKorTxt.senTxtVisible #{item.korTxt}
                        - // 태그 아이콘
                        if item.tagIdx
                          i(data-tag-idx='#{item.tagIdx}').tagInfo #{userTags[item.tagIdx]}
                          
                    .backIcons
                      a(href='javascript:;' onclick ="speak(this,'repeatOne')" data-item-id='#{item._id}' data-item-by-date='#{item.byDate_id}' data-file='#{item.mp3}').repeatIconSmall.glyphicon.glyphicon-refresh
                      a(href='javascript:;' onclick ="speak(this,'playOne')" data-item-id='#{item._id}' data-item-by-date='#{item.byDate_id}' data-file='#{item.mp3}').speakIconSmall.glyphicon.glyphicon-volume-down
            - aSentence = aSentence.reverse();