extends ../layout
- // love페이지의 github은 love를 한 날짜를 보여준다. 따라서 해당 날짜를 클릭해도 그 날에는 문장이 없을 수 밖에 없다. 이에 href를 모두 제거한다. 18.08.30
block github
  - // 구글링해보니 jade의 경우 multi extends가 불가능해서 파일로 따로 빼지 못했다
  .mainWrap
    - var thisYear    = new Date().getFullYear();
    - var totalCount  = 0;
    - // 문장을 하나하나 돌면서 해당 날짜에 해당하는 셀을 배당해준다. 인덱스가 셀 위치고 값이 문장수다.

    .proWrap
      //- h4.proTitle 근성
      .proGraphic
        .proDayTextWrap
          h6.proDayText &nbsp;
          h6.proDayText.sun #{__('githubSun')}
          h6.proDayText &nbsp;
          h6.proDayText &nbsp;
          h6.proDayText #{__('githubWeb')}
          h6.proDayText &nbsp;
          h6.proDayText &nbsp;
          h6.proDayText.sat #{__('githubSat')}
        .proYearWrap
          each _, k in Array(12)
            - if ( k == 0 ) {var monthTxt = __('githubJan'); }
            - if ( k == 1 ) {var monthTxt = __('githubFeb'); }
            - if ( k == 2 ) {var monthTxt = __('githubMar'); }
            - if ( k == 3 ) {var monthTxt = __('githubApr'); }
            - if ( k == 4 ) {var monthTxt = __('githubMay'); }
            - if ( k == 5 ) {var monthTxt = __('githubJun'); }
            - if ( k == 6 ) {var monthTxt = __('githubJul'); }
            - if ( k == 7 ) {var monthTxt = __('githubAug'); }
            - if ( k == 8 ) {var monthTxt = __('githubSep'); }
            - if ( k == 9 ) {var monthTxt = __('githubOct'); }
            - if ( k == 10) {var monthTxt = __('githubNov'); }
            - if ( k == 11) {var monthTxt = __('githubDec'); }
            .proMonth
              h6.proMonthText #{monthTxt}
              .proWeekWrap

                - var day1 = new Date ( thisYear, k, 1 ); // 해당 달에 1일. 왜 여기는 k+1이 안된까.
                - var day = day1.getDay(); // 요일을 구한다.
                - var dayCount = new Date ( thisYear, k+1, 0 ).getDate(); // 해당 달의 일 수 구하기
                - var weeks;
                - // 그해 주가 몇개인지 결정
                - if ( day <= 4 ) weeks = 4; // 만약 일, 월, 화, 수요일이라면
                - else if ( day == 4 ) { // 만약 목요일 이라면
                -   if ( dayCount % 7 <=2 ) weeks = 4;
                -   else weeks = 5;
                - } else if ( day == 5 ) { // 만약 금요일이라면
                -   if ( dayCount % 7 <= 1 ) weeks = 4;
                -   else weeks = 5;
                - } else if (day == 6 ) { // 만약 토요일이라면
                -   if ( dayCount % 7 <= 0 ) weeks = 4;
                -   else weeks = 5;
                - }
                - if ( k == 11 ) weeks = 6 // 그런데 만약 12월이면 31일까지니 6주


                - // 첫달의 첫주. 빈 공간 그리기
                - if ( totalCount == 0){
                  .proWeekFirstMonth
                    - if ( day == 0 ){ // 1월 달의 시작이 일요일이라면
                    - } else if ( day == 1 ){ // 월
                      .thereIsNoDay_Mon
                    - } else if ( day == 2 ){ // 화
                      .thereIsNoDay_Tue
                    - } else if ( day == 3 ){ // 수
                      .thereIsNoDay_Wed
                    - } else if ( day == 4 ){ // 목
                      .thereIsNoDay_Thu
                    - } else if ( day == 5 ){ // 금
                      .thereIsNoDay_Fri
                    - } else if ( day == 6 ){ // 토
                      .thereIsNoDay_Sat
                    - }

                    - // 첫달 첫주 1일부터 토요일까지 셀 그리고 카운트에 맞게 색칠하기
                    - for ( var very_i= 0; very_i < 7 - day ; very_i++){
                      - totalCount++;
                      - if (cell[totalCount].count == 1){
                      a( data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay1 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 2) {
                      a( data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay2 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 3) {
                      a( data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay3 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 4) {
                      a( data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay4 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 5) {
                      a( data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay5 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 6) {
                      a( data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay6 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 7) {
                      a( data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay7 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 8) {
                      a( data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay8 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 9) {
                      a( data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay9 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count >= 10) {
                      a( data-placement="right" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay10 #{cell[totalCount].count}
                      - } else {
                      .proDayNone #{cell[totalCount].count}
                      - }
                    - }
                  - }

                - // 나머지 빈 셀을 주단위로 그린다.
                each _, j in Array(weeks)
                  .proWeek
                    each _, i in Array(7)
                      - totalCount++;
                      - // 오늘 주색을 회색으로 바꾼다
                      - if (todayIdx < totalCount) { // 오늘 이후부터(내일부터)
                        - if ( todayIdx + 1 == totalCount ) { // 다만 내일일 경우만
                          - var todayDay = new Date().getDay();
                            - if ( todayDay == 0 ) { // 일요일일 경우
                              .proWeek0
                            - } else if ( todayDay == 1) { // 월
                              .proWeek1
                            - } else if ( todayDay == 2) { // 화
                              .proWeek2
                            - } else if ( todayDay == 3) { // 수
                              .proWeek3
                            - } else if ( todayDay == 4) { // 목
                              .proWeek4
                            - } else if ( todayDay == 5) { // 금
                              .proWeek5
                            - } else if ( todayDay == 6) { // 토
                              .proWeek6
                            - }
                        - } else { // 아직 오지 않은 proWeek6으로 바꾼다
                          .proWeek6
                        - }
                      -   break;
                      - }

                      - // 전체 셀을 돌며 카운트에 맞게 색을 칠한다
                      - if(cell[totalCount]) {                         
                      - if (cell[totalCount].count == 1){
                      a( data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay1 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 2) {
                      a( data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay2 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 3) {
                      a( data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay3 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 4) {
                      a( data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay4 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 5) {
                      a( data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay5 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 6) {
                      a( data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay6 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 7) {
                      a( data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay7 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 8) {
                      a( data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay8 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count == 9) {
                      a( data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay9 #{cell[totalCount].count}
                      - } else if (cell[ totalCount ].count >= 10) {
                      a( data-placement="left" title="#{cell[totalCount].count+__('githubTooltip')}").tooltipUp.proDay10 #{cell[totalCount].count}
                      - } else {
                      .proDayNone #{cell[totalCount].count}
                      - }
                      - }
                      - if( todayIdx == totalCount )
                          .todayCell
block popup
  .popup
    - // 옵션 박스 안에서 Modify를 클릭했을 때 뜨는 팝업 창
    .mfp-hide.modifyDialog#modifyDialog
      .modifyTitle #{__('sayEdit')}
      textarea(placeholder="#{__('sayTextboxPlaceholder')}" onkeyup='checkTextArea(this)').form-control.engTxtarea#engTxtareaModify
      .modifyBtnWrap
        a(href='javascript:;' onclick='optSelectTag()')#optSelectTag
          i(data-tag-idx='').tagInfo
        a(href='javascript:;').btnOK#modifyOK #{__('sayBtnSayv')}
        .totalLength / 300
        .checkLenInfo 0


    - // 글 안의 옵션 클릭했을 때 뜨는 팝업 창
    ul.optBox
      .optXIcon x
      li.optList
        a(href='javascript:;' onclick='optModify()' )#optModify #{__('sayBtnModify')}
      li.optList
        a(href='javascript:;' )#optDelete #{__('sayBtnDelete')}

      input(hidden data-sen-id data-nickname='#{userNickname}' data-my-nickname='#{nickname}' data-user='#{user}' data-sen-by-date-id data-sen-id-mp3 data-sen-tag-idx data-sentence data-sen-tag-name data-tag-where)#senInfo
      input(hidden data-page='#{pageModel.page}' data-by-date-step='#{pageModel.byDateStep}' data-skip-by-date='#{pageModel.skipByDate}' data-total-bydate-count='#{pageModel.totalBydateCount}' data-total-page='#{pageModel.totalPage}' data-new-bydate=0)#pageInfo


    - // 카테고리를 클릭했을 때 뜨는 팝업 창
    nav.mfp-hide.tagList#tagList
      .tagTitle #{__('msgSelectCategory')}
      ul.tagWrapper
        li.tagLi
          a(href='javascript:;' onclick='chooseTag(this)' data-tag-idx='#{0}').tagItem #{userTags[0]}
        - // 카테고리가 3개일때는 아래와 같이 만든다. 확장성을 염두함. 180419
        each _, idx in Array(3)
          li.tagLi
            if userTags[idx+1]
              a(href='javascript:;' onclick='chooseTag(this)' data-tag-idx='#{idx+1}').tagItem #{userTags[idx+1]}
              a(href='javascript:;' onclick='tagRemove(this)' data-tag-idx='#{idx+1}')
                i.glyphicon.glyphicon-remove.tagRemove
              a(href='javascript:;' onclick='tagModify(this)' data-tag-idx='#{idx+1}')
                i.glyphicon.glyphicon-pencil.tagModify
            else
              input(type='text' placeholder="#{__('sayCategroyPlaceholder')}" onkeypress='tagSaveEnter(event, this)').makeTag
              a(href='javascript:;' onclick='tagSave(this)' data-tag-idx='#{idx+1}')
                i.glyphicon.glyphicon-ok.tagSave


    - // 글삭제 버튼을 눌렀을 때 뜨는 팝업 창
    nav.mfp-hide.deletePopup#deletePopup
      .deletePopupTitle #{__('sayPopupDelete')}
      a(href='javascript:;' onclick='yesMsgPopup()').yesBtn #{__('sayBtnDelete')}
      a(href='javascript:;' onclick='noMsgPopup()').noBtn #{__('sayBtnCancel')}

    - // 맨위로 이동
    a(href='javascript:window.scrollTo(0, 0);').fa.fa-angle-up.navMoveTop

block categorySearch
  .categorySearch
    nav.categorySearchWindow(data-searching-tag-idx='#{searchingTagIdx}')
      ul
        .categorySearchTitle #{__('category')}
        li
          a(href='/'+userNickname data-tag-idx='#{0}').categorySearchItem #{__('sayCategoryPopupAll')}
        each _, idx in Array(3)
          if userTags[idx+1]
            li
              a(href='/'+userNickname+'/tag/#{idx+1}?title=#{userTags[idx+1]}' data-tag-idx='#{idx+1}').categorySearchItem #{userTags[idx+1]}
          else
            li
              a(href='/'+userNickname+'/tag/#{idx+1}?title=#{userTags[idx+1]}' data-tag-idx='#{idx+1}') #{userTags[idx+1]}
    ul.categorySearchWindow
      li
        a(href='/'+userNickname+'/love').categorySearchLove
          span.glyphicon.glyphicon-heart-empty
          span &nbsp; Love
      li
        a(href='/'+userNickname+'/profile').categorySearchProfile
          span.glyphicon.glyphicon-user
          span &nbsp; #{__('sayCategoryPopupProfile')}

block subhead
  link(rel='canonical' href='https://str.himion.com/#{userNickname}/love')
  title #{userNickname}의 love page
  if (aSentence[0] != null)  
    meta(name='description' content='#{aSentence[0].korTxt}')

    meta(property='og:locale'       content='ko_KR')
    meta(property='og:type'         content='article')
    meta(property='article:published_time'  content='#{aSentence[0].createdAt}')
    meta(property='article:author'  content='#{userNickname}')
    - // 아래 title과 description과 href는 tag에만 있는 고유 정보다
    meta(property='og:title'        content='#{userNickname}의 love page')
    meta(property='og:description'  content='#{aSentence[0].engTxt}')
    meta(property='og:url'          content='https://str.himion.com/#{userNickname}/love')
    meta(property='og:site_name'    content='세이 투 리멤버')
    meta(property='og:image'        content='https://str.himion.com/img/icon/192x192.jpg')
    meta(property='og:image:width'  content='192')
    meta(property='og:image:height' content='192')

    meta(property='twitter:locale'  content='ko_KR')
    meta(property='twitter:type'    content='article')
    meta(property='twitter:card'    content='summary')
    meta(property='twitter:url'     content='https://str.himion.com/#{userNickname}/love')
    meta(property='twitter:site_name' content='세이 투 리멤버')
    meta(property='twitter:title'   content='##{userNickname}의 love page')
    meta(property='twitter:description'  content='#{aSentence[0].engTxt}')
    meta(property='twitter:creator' content='#{userNickname}')
    meta(property='twitter:image'   content='https://str.himion.com/img/icon/192x192.jpg')
    meta(property='twitter:image:width'  content='192')
    meta(property='twitter:image:height' content='192')

block subScript
  script(src='/js/say/say_client.js')
  script(src='/js/say/say_client_popup.js')
  script(src='/js/say/say_client_play.js')
  script(src='/js/say/say_client_design.js')

  link(rel='stylesheet' type='text/css' href='/css/say.css')
  link(rel='stylesheet' type='text/css' href='/css/say_dashboard.css')

block content

  append popup
  append github
  append categorySearch


  - // content 상단
  .frame
    section.contents
      .upperWrap
        .ciWrap
          img(src='/img/ci.svg' title="#{__('tooltipCI')}" alt='CI' onclick="ciClick(this)" data-placement="right").ciIcon.tooltipUp
        audio(src='' ).speech#speech

      .optFrame
        .optWrap
          label(for='optEng' title="#{__('tooltipHideEng')}" data-placement="top").tooltipUp
            span.glyphicon.glyphicon-check#optEng
            span.optEng &nbsp;Eng
          label(for='optKor' title="#{__('tooltipHideKor')}" data-placement="top").tooltipUp
            span.glyphicon.glyphicon-check#optKor
            span.optKor &nbsp;Kor
        a(href='javascript:;' onclick='searchTag()').searchTag#searchTag
          label(for='searchTagItem')
            span.searchTagItem All
            span.glyphicon.glyphicon-collapse-down#searchTagItem

      - // content 하단
      .contentWrap
        .day
          .upperDay
            a(href='javascript:;' onclick="senSort(this)" data-sort='#{senSort}')
              if senSort
                span(data-placement="right" title="#{__('tooltipSorting')}").glyphicon.glyphicon-sort-by-attributes.senSort.tooltipUp
              else
                span(data-placement="right" title="#{__('tooltipSortingAlt')}").glyphicon.glyphicon-sort-by-attributes-alt.senSort.tooltipUp
            span.createdAt #{userTags[searchingTagIdx]}

            - var senCount;
            if pageModel.totalBydateCount >= pageModel.page * pageModel.byDateStep
              - senCount = pageModel.byDateStep;
            else
              - senCount = pageModel.totalBydateCount - (pageModel.page-1) * pageModel.byDateStep;
            span.createdAt Love Page
            span.countSentence.badge #{senCount}
            //- span.countSentence.badge #{pageModel.totalBydateCount}

            a(href='javascript:;' onclick="speak(this,'playTotal')" data-mp3s='#{mp3s}' data-ids='#{senIds}').speakIconBig.glyphicon.glyphicon-volume-down.forMp3s
            a(href='javascript:;' onclick="speak(this,'repeatTotal')" data-mp3s='#{mp3s}' data-ids='#{senIds}').repeatIconBig.glyphicon.glyphicon-refresh.forMp3s

          .inferiorDay
            if aSentence == ''
              .aSen
                .senWrap
                  p #{__('msgNoSentence')}

            each item, idx in aSentence
              .aSen
                .frontIcons

                  if user == 'owner' || userNickname == 'everyone'
                    if nickname == item.nickname || userNickname == 'everyone'
                      - // 내 페이지에서 나의 문장일 경우 편집이 가능하도록
                      a(href='javascript:;' onclick='openOpt(this)' data-placement="right" data-item-id='#{item._id}' data-item-by-date='#{item.byDate_id}' data-file='#{item.mp3}' title="#{__('tooltipSenModifyDelete')}").glyphicon.glyphicon-option-vertical.optionIcon.tooltipUp
                    - if (item.heart[0] == null && item.heart.length != 0 ) --item.heart.length;
                    a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length}' data-who=11 data-placement="right" title="#{item.heart.length+__('tooltipMsgLove')}" ).heartIcon.glyphicon.glyphicon-heart.tooltipUp


                    - // 다른 사람의 페이지에 방문했을 때
                  else if user == 'other'
                    - var checking = 0;

                    each heart, idx in otherHearts
                      - // 다른 사람의 페이지에 내가 heart on한 문장이 있고
                      if heart.sen_id.toString() == item._id.toString()
                        if item.heart[0]
                          - // 해당 문장을 소유자도 heart했다면
                          a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length}' data-who=4 data-placement="right" title="#{item.heart.length+__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart.tooltipUp
                        else
                          if item.heart[2]
                            - // 해당 문장을 소유자는 heart 안하고 방문자는 heart하고 다른 누군가도 heart했을 때(최소 heart 2개 이상)
                            a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length-1}' data-who=5 data-placement="right" title="#{item.heart.length-1 +__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart.tooltipUp
                          else
                            - // 해당 문장을 소유자는 heart 안하고 방문자만 heart하고 아무도 heart X을 경우
                            a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length-1}' data-who=6 data-placement="right" title="#{item.heart.length-1 +__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart.tooltipUp
                        - checking = 1;
                        - break;


                    if !checking
                      - // 페이지를 방문한 사람이 heart하지 X
                      if item.heart[0]
                        - // 해당 문장을 소유자가 heart했다면
                        a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length}' data-who=7 data-placement="right" title="#{item.heart.length+__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart-empty.tooltipUp
                      else
                        if item.heart[1]
                          - // 해당 문장을 소유자, 방문자 모두 heart X, 하지만 다른 누군가가 heart했을
                          a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length-1}' data-who=8 data-placement="right" title="#{item.heart.length-1 +__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart-empty.tooltipUp
                        else
                          - // 아무도 heart X
                          - if (item.heart[0] == null) item.heart.length = 0;
                          a(href='javascript:;' onclick='hearting(this)' data-item-id='#{item._id}' data-count='#{item.heart.length}' data-who=9 data-placement="right" title="#{item.heart.length+__('tooltipMsgLove')}").heartIcon.glyphicon.glyphicon-heart-empty.tooltipUp


                .senWrap
                  div(onclick='senTxtVisible(this)' data-clicked='#{item.clicked}' data-other-clicked='#{item.other_clicked}' data-sen-num='#{item.sen_num}').senTxt.senTxtVisible #{item.engTxt}
                  div(onclick='senKorTxtVisible(this)').senKorTxt.senTxtVisible #{item.korTxt}
                    if nickname == item.nickname
                      - // 내 문장일 경우에는 nickname이 아닌 카테고리 정보를 보여준다
                      i(data-tag-idx='#{item.tagIdx}').tagInfo #{userTags[item.tagIdx]}
                    else 
                      a(href='/#{item.nickname}' target='_blank')
                        i.tagInfo #{item.nickname}
                .backIcons
                  a(href='javascript:;' onclick ="speak(this,'repeatOne')" data-item-id='#{item._id}' data-item-by-date='#{item.byDate_id}' data-file='#{item.mp3}').repeatIconSmall.glyphicon.glyphicon-refresh
                  a(href='javascript:;' onclick ="speak(this,'playOne')" data-item-id='#{item._id}' data-item-by-date='#{item.byDate_id}' data-file='#{item.mp3}').speakIconSmall.glyphicon.glyphicon-volume-down

    if pageModel.totalBydateCount > ( pageModel.page * pageModel.byDateStep )
      -// moreSay()함수는 일반 페이지와 공통으로 사용하도록 만들었다 18.05.05
      a(href='javascript:;' onclick='moreSay(this)').moreBtn#moreBtn more ▽